In [1]:
import pandas as pd
import os

In [2]:
energy_data = "WorldEnergyConsumption.csv"

In [3]:
energy_data_df = pd.read_csv(energy_data)
energy_data_df.head(10)

,iso_code,country,year,coal_prod_change_pct,coal_prod_change_twh,gas_prod_change_pct,gas_prod_change_twh,oil_prod_change_pct,oil_prod_change_twh,energy_cons_change_pct,...,solar_elec_per_capita,solar_energy_per_capita,gdp,wind_share_elec,wind_cons_change_pct,wind_share_energy,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_energy_per_capita
0,AFG,Afghanistan,1900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Afghanistan,1901,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,1902,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Afghanistan,1903,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Afghanistan,1904,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,AFG,Afghanistan,1905,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,AFG,Afghanistan,1906,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,AFG,Afghanistan,1907,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,AFG,Afghanistan,1908,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,AFG,Afghanistan,1909,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
energy_data_df.isnull()

,iso_code,country,year,coal_prod_change_pct,coal_prod_change_twh,gas_prod_change_pct,gas_prod_change_twh,oil_prod_change_pct,oil_prod_change_twh,energy_cons_change_pct,...,solar_elec_per_capita,solar_energy_per_capita,gdp,wind_share_elec,wind_cons_change_pct,wind_share_energy,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_energy_per_capita
0,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,False,False,False,True,False,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,False,False,False,True,False,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,False,False,False,True,False,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,False,False,False,True,False,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17306,False,False,False,False,False,True,True,True,True,False,...,False,True,False,False,True,True,True,True,False,True
17307,False,False,False,False,False,True,True,True,True,False,...,False,True,False,False,True,True,True,True,False,True
17308,False,False,False,False,False,True,True,True,True,True,...,False,True,True,False,True,True,True,True,False,True
17309,False,False,False,False,False,True,True,True,True,True,...,False,True,True,False,True,True,True,True,False,True
17310,False,False,False,False,False,True,True,True,True,True,...,False,True,True,False,True,True,True,True,False,True

In [5]:
energy_data_clean = energy_data_df.fillna(0)

In [6]:
energy_data_clean.head()

,iso_code,country,year,coal_prod_change_pct,coal_prod_change_twh,gas_prod_change_pct,gas_prod_change_twh,oil_prod_change_pct,oil_prod_change_twh,energy_cons_change_pct,...,solar_elec_per_capita,solar_energy_per_capita,gdp,wind_share_elec,wind_cons_change_pct,wind_share_energy,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_energy_per_capita
0,AFG,Afghanistan,1900,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,AFG,Afghanistan,1901,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,AFG,Afghanistan,1902,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,AFG,Afghanistan,1903,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,AFG,Afghanistan,1904,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
energy_data_clean.to_csv('Updated_Energy_Consumption.csv')

In [8]:
electricity_production = energy_data_df[["country", "year","electricity_generation", "gdp"]]
electricity_production.head()

       country  year  electricity_generation  gdp
0  Afghanistan  1900                     NaN  NaN
1  Afghanistan  1901                     NaN  NaN
2  Afghanistan  1902                     NaN  NaN
3  Afghanistan  1903                     NaN  NaN
4  Afghanistan  1904                     NaN  NaN

In [9]:
electricity_prod_avg = electricity_production.groupby(['country']).mean()
electricity_prod_avg.head(10)

                       year  electricity_generation           gdp
country
Afghanistan          1959.5                0.935250  3.119197e+10
Africa               1959.5              519.425714           NaN
Albania              1959.5                5.224900  1.153771e+10
Algeria              1959.5               33.872971  2.679717e+11
American Samoa       1999.5                0.167950           NaN
Angola               1959.5                5.752300  4.385790e+10
Antigua and Barbuda  1999.5                0.271950           NaN
Argentina            1960.0               93.088472  2.714768e+11
Armenia              2005.5                6.369850  1.645584e+10
Aruba                2002.5                0.868450           NaN

In [10]:
electricity_production.to_csv('Electricity_Generation_by_Country.csv', index=False, encoding='utf-8')

In [11]:
electricity_prod_avg.to_csv('Average_Electricity_Generation_by_Country', index=False, encoding='utf-8')

In [12]:
energy_prod_country = energy_data_df[["country", "year","coal_production", "coal_prod_per_capita","energy_per_gdp", "gdp", "energy_per_capita", "gas_production", "gas_prod_per_capita", "oil_production", "oil_prod_per_capita",]]
energy_prod_country

,country,year,coal_production,coal_prod_per_capita,energy_per_gdp,gdp,energy_per_capita,gas_production,gas_prod_per_capita,oil_production,oil_prod_per_capita
0,Afghanistan,1900,0.000,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1901,0.000,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1902,0.000,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1903,0.000,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1904,0.000,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
17306,Zimbabwe,2015,32.517,2353.763,2.223,2.503057e+10,4027.628,NaN,NaN,NaN,NaN
17307,Zimbabwe,2016,20.260,1444.068,1.889,2.515176e+10,3385.574,NaN,NaN,NaN,NaN
17308,Zimbabwe,2017,21.957,1542.260,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17309,Zimbabwe,2018,26.910,1863.676,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17310,Zimbabwe,2019,17.487,1194.077,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
energy_prod_country.to_csv('Energy_Production_by_Country', index=False, encoding='utf-8')

In [16]:
energy_data_updated = "Updated_Energy_Consumption.csv"
energy_data_df = pd.read_csv(energy_data_updated)
energy_data_df.head(10)

,Unnamed: 0,iso_code,country,year,coal_prod_change_pct,coal_prod_change_twh,gas_prod_change_pct,gas_prod_change_twh,oil_prod_change_pct,oil_prod_change_twh,...,solar_elec_per_capita,solar_energy_per_capita,gdp,wind_share_elec,wind_cons_change_pct,wind_share_energy,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_energy_per_capita
0,0,AFG,Afghanistan,1900,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,AFG,Afghanistan,1901,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,AFG,Afghanistan,1902,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,AFG,Afghanistan,1903,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,AFG,Afghanistan,1904,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,5,AFG,Afghanistan,1905,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,6,AFG,Afghanistan,1906,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,7,AFG,Afghanistan,1907,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,8,AFG,Afghanistan,1908,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,9,AFG,Afghanistan,1909,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [39]:
coal_change_over_time = energy_data_df.groupby(["year"])["coal_production"].mean()
coal_change_per_capita = energy_data_df.groupby(["year"])["coal_prod_per_capita"].mean()
coal_change_over_time.head(10)

year
1900    112.154323
1901    113.964763
1902    116.663677
1903    127.440935
1904    127.795194
1905    137.983183
1906    144.885806
1907    160.227151
1908    151.552237
1909    158.765989
Name: coal_production, dtype: float64

In [40]:
gas_change_over_time = energy_data_df.groupby(["year"])["gas_production"].mean()
gas_change_per_capita = energy_data_df.groupby(["year"])["gas_prod_per_capita"].mean()
gas_change_over_time.head(10)

year
1900    1.587957
1901    1.759742
1902    1.931527
1903    2.103290
1904    2.275075
1905    2.446860
1906    2.618624
1907    2.790409
1908    2.962194
1909    3.133957
Name: gas_production, dtype: float64

In [41]:
oil_change_over_time = energy_data_df.groupby(["year"])["oil_production"].mean()
oil_change_per_capita = energy_data_df.groupby(["year"])["oil_prod_per_capita"].mean()
oil_change_over_time.head(10)

year
1900    3.683484
1901    4.090140
1902    4.671151
1903    5.108817
1904    5.828667
1905    6.079882
1906    5.960957
1907    7.562118
1908    8.254806
1909    8.627086
Name: oil_production, dtype: float64

In [47]:
energy_per_capita = energy_data_df.groupby(["year"])["energy_per_capita"].mean()
energy_per_capita.tail(10)

year
2011    30786.336154
2012    30621.556129
2013    29839.493042
2014    29591.864708
2015    30005.880225
2016    30465.237463
2017    15971.873118
2018    16058.958275
2019    15888.821223
2020        0.000000
Name: energy_per_capita, dtype: float64

In [48]:
energy_prod_change_by_year = pd.DataFrame({
    "Energy per Capita": energy_per_capita,
    "Coal Production": coal_change_over_time,
    "Coal Production Per Capita": coal_change_per_capita,
    "Gas Production": gas_change_over_time,
    "Gas Production Per Capita": gas_change_per_capita,
    "Oil Production": oil_change_over_time,
    "Oil Production Per Capita": oil_change_per_capita,
})

energy_prod_change_by_year.head(10)

,Energy per Capita,Coal Production,Coal Production Per Capita,Gas Production,Gas Production Per Capita,Oil Production,Oil Production Per Capita
year,,,,,,,
1900,0.0,112.154323,2224.515667,1.587957,19.922441,3.683484,57.143989
1901,0.0,113.964763,1931.000022,1.759742,11.099527,4.090140,48.125753
1902,0.0,116.663677,1952.957957,1.931527,11.964269,4.671151,49.862882
1903,0.0,127.440935,2053.257022,2.103290,12.782613,5.108817,53.566581
1904,0.0,127.795194,2034.115968,2.275075,13.563108,5.828667,59.901280
1905,0.0,137.983183,2103.849129,2.446860,14.305022,6.079882,59.381237
1906,0.0,144.885806,2231.560419,2.618624,15.010366,5.960957,62.008054
1907,0.0,160.227151,2379.885333,2.790409,15.704892,7.562118,76.364097
1908,0.0,151.552237,2330.674280,2.962194,16.344753,8.254806,84.322226
1909,0.0,158.765989,2323.135849,3.133957,16.965656,8.627086,89.800333

In [51]:
energy_prod_change_by_year.to_csv('Energy_Production_Per_Year', index=False)

In [52]:
renew_elec_per_country = energy_data_df.groupby(["country"])["renewables_electricity"].mean()
renew_elec_per_country.head(10)

country
Afghanistan             0.123742
Africa                 26.600083
Albania                 0.862992
Algeria                 0.087867
American Samoa          0.000000
Angola                  0.653867
Antigua and Barbuda     0.001175
Argentina               8.745711
Armenia                 1.423500
Aruba                   0.043118
Name: renewables_electricity, dtype: float64

In [53]:
renew_energy_per_capita = energy_data_df.groupby(["country"])["renewables_energy_per_capita"].mean()
renew_energy_per_capita.head(10)

country
Afghanistan              0.000000
Africa                 116.316525
Albania                  0.000000
Algeria                 18.743192
American Samoa           0.000000
Angola                   0.000000
Antigua and Barbuda      0.000000
Argentina              823.537702
Armenia                  0.000000
Aruba                    0.000000
Name: renewables_energy_per_capita, dtype: float64

In [54]:
solar_energy_per_capita = energy_data_df.groupby(["country"])["solar_energy_per_capita"].mean()
solar_energy_per_capita.head(10)

country
Afghanistan            0.000000
Africa                 0.815183
Albania                0.000000
Algeria                1.081808
American Samoa         0.000000
Angola                 0.000000
Antigua and Barbuda    0.000000
Argentina              0.458107
Armenia                0.000000
Aruba                  0.000000
Name: solar_energy_per_capita, dtype: float64

In [55]:
wind_energy_per_capita = energy_data_df.groupby(["country"])["wind_energy_per_capita"].mean()
wind_energy_per_capita.head(10)

country
Afghanistan            0.000000
Africa                 1.580192
Albania                0.000000
Algeria                0.039742
American Samoa         0.000000
Angola                 0.000000
Antigua and Barbuda    0.000000
Argentina              4.922140
Armenia                0.000000
Aruba                  0.000000
Name: wind_energy_per_capita, dtype: float64

In [56]:
nuclear_energy_per_capita = energy_data_df.groupby(["country"])["nuclear_energy_per_capita"].mean()
nuclear_energy_per_capita.head(10)

country
Afghanistan              0.000000
Africa                  10.740600
Albania                  0.000000
Algeria                  0.000000
American Samoa           0.000000
Angola                   0.000000
Antigua and Barbuda      0.000000
Argentina              169.533595
Armenia                  0.000000
Aruba                    0.000000
Name: nuclear_energy_per_capita, dtype: float64

In [57]:
low_carbon_per_capita = energy_data_df.groupby(["country"])['low_carbon_energy_per_capita'].mean()
low_carbon_per_capita.head(10)

country
Afghanistan              0.000000
Africa                 127.057133
Albania                  0.000000
Algeria                 18.743192
American Samoa           0.000000
Angola                   0.000000
Antigua and Barbuda      0.000000
Argentina              993.071339
Armenia                  0.000000
Aruba                    0.000000
Name: low_carbon_energy_per_capita, dtype: float64

In [61]:
gdp_avg = energy_data_df.groupby(['country'])['gdp'].mean()
gdp_avg.head(10)

country
Afghanistan            1.741552e+10
Africa                 0.000000e+00
Albania                6.826480e+09
Algeria                1.049556e+11
American Samoa         0.000000e+00
Angola                 1.535027e+10
Antigua and Barbuda    0.000000e+00
Argentina              2.625023e+11
Armenia                1.469272e+10
Aruba                  0.000000e+00
Name: gdp, dtype: float64

In [ ]:
green_energy_per_country = pd.DataFrame({
    "Renewable Electricity": renew_elec_per_country,
    "Renewable Energy": renew_energy_per_capita,
    "Solar Energy": solar_energy_per_capita,
    "Coal Production Per Capita": coal_change_per_capita,
    "Gas Production": gas_change_over_time,
    "Gas Production Per Capita": gas_change_per_capita,
    "Oil Production": oil_change_over_time,
    "Oil Production Per Capita": oil_change_per_capita,
})

green_energy_per_country.head(10)