In [1]:
import pandas as pd
import os

In [2]:
energy_data = "WorldEnergyConsumption.csv"

In [3]:
energy_data_df = pd.read_csv(energy_data)
energy_data_df.head(10)

,iso_code,country,year,coal_prod_change_pct,coal_prod_change_twh,gas_prod_change_pct,gas_prod_change_twh,oil_prod_change_pct,oil_prod_change_twh,energy_cons_change_pct,...,solar_elec_per_capita,solar_energy_per_capita,gdp,wind_share_elec,wind_cons_change_pct,wind_share_energy,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_energy_per_capita
0,AFG,Afghanistan,1900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Afghanistan,1901,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,1902,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Afghanistan,1903,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Afghanistan,1904,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,AFG,Afghanistan,1905,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,AFG,Afghanistan,1906,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,AFG,Afghanistan,1907,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,AFG,Afghanistan,1908,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,AFG,Afghanistan,1909,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
energy_data_df.isnull()

,iso_code,country,year,coal_prod_change_pct,coal_prod_change_twh,gas_prod_change_pct,gas_prod_change_twh,oil_prod_change_pct,oil_prod_change_twh,energy_cons_change_pct,...,solar_elec_per_capita,solar_energy_per_capita,gdp,wind_share_elec,wind_cons_change_pct,wind_share_energy,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_energy_per_capita
0,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,False,False,False,True,False,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,False,False,False,True,False,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,False,False,False,True,False,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,False,False,False,True,False,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17306,False,False,False,False,False,True,True,True,True,False,...,False,True,False,False,True,True,True,True,False,True
17307,False,False,False,False,False,True,True,True,True,False,...,False,True,False,False,True,True,True,True,False,True
17308,False,False,False,False,False,True,True,True,True,True,...,False,True,True,False,True,True,True,True,False,True
17309,False,False,False,False,False,True,True,True,True,True,...,False,True,True,False,True,True,True,True,False,True
17310,False,False,False,False,False,True,True,True,True,True,...,False,True,True,False,True,True,True,True,False,True

In [5]:
energy_data_clean = energy_data_df.fillna(0)

In [6]:
energy_data_clean.head()

,iso_code,country,year,coal_prod_change_pct,coal_prod_change_twh,gas_prod_change_pct,gas_prod_change_twh,oil_prod_change_pct,oil_prod_change_twh,energy_cons_change_pct,...,solar_elec_per_capita,solar_energy_per_capita,gdp,wind_share_elec,wind_cons_change_pct,wind_share_energy,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_energy_per_capita
0,AFG,Afghanistan,1900,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,AFG,Afghanistan,1901,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,AFG,Afghanistan,1902,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,AFG,Afghanistan,1903,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,AFG,Afghanistan,1904,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
energy_data_clean.to_csv('Updated_Energy_Consumption.csv')

In [8]:
electricity_production = energy_data_df[["country", "year","electricity_generation", "gdp"]]
electricity_production.head()

       country  year  electricity_generation  gdp
0  Afghanistan  1900                     NaN  NaN
1  Afghanistan  1901                     NaN  NaN
2  Afghanistan  1902                     NaN  NaN
3  Afghanistan  1903                     NaN  NaN
4  Afghanistan  1904                     NaN  NaN

In [9]:
electricity_prod_avg = electricity_production.groupby(['country']).mean()
electricity_prod_avg.head(10)

                       year  electricity_generation           gdp
country
Afghanistan          1959.5                0.935250  3.119197e+10
Africa               1959.5              519.425714           NaN
Albania              1959.5                5.224900  1.153771e+10
Algeria              1959.5               33.872971  2.679717e+11
American Samoa       1999.5                0.167950           NaN
Angola               1959.5                5.752300  4.385790e+10
Antigua and Barbuda  1999.5                0.271950           NaN
Argentina            1960.0               93.088472  2.714768e+11
Armenia              2005.5                6.369850  1.645584e+10
Aruba                2002.5                0.868450           NaN

In [10]:
electricity_production.to_csv('Electricity_Generation_by_Country.csv', index=False, encoding='utf-8')

In [11]:
electricity_prod_avg.to_csv('Average_Electricity_Generation_by_Country', index=False, encoding='utf-8')

In [12]:
energy_prod_country = energy_data_df[["country", "year","coal_production", "coal_prod_per_capita","energy_per_gdp", "gdp", "energy_per_capita", "gas_production", "gas_prod_per_capita", "oil_production", "oil_prod_per_capita",]]
energy_prod_country

,country,year,coal_production,coal_prod_per_capita,energy_per_gdp,gdp,energy_per_capita,gas_production,gas_prod_per_capita,oil_production,oil_prod_per_capita
0,Afghanistan,1900,0.000,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1901,0.000,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1902,0.000,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1903,0.000,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1904,0.000,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
17306,Zimbabwe,2015,32.517,2353.763,2.223,2.503057e+10,4027.628,NaN,NaN,NaN,NaN
17307,Zimbabwe,2016,20.260,1444.068,1.889,2.515176e+10,3385.574,NaN,NaN,NaN,NaN
17308,Zimbabwe,2017,21.957,1542.260,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17309,Zimbabwe,2018,26.910,1863.676,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17310,Zimbabwe,2019,17.487,1194.077,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
energy_prod_country.to_csv('Energy_Production_by_Country', index=False, encoding='utf-8')